
    /* reset.css */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* user styles */
    
html, body
{
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    height: 100%;
}

.modalWindow_bg
{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
}

    .modalWindow_wrapper
    {
        margin: auto;
        padding: 20px 40px;
        width: 75%;
        max-width: 600px;
        max-height: 90%;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.18);
        border-width: 3px;
        overflow: auto;
    }
    
        .modalWindow_body
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }

            .modalWindow_openCloseButton
            {
                position: absolute;
                right: -20px;
            }

            .modalWindow_header
            {
                margin: 10px;
                font-size: 24px;
                text-align: center;
            }

            .modalWindow_userName
            {
                width: 100%;
                padding: 10px;
                height: 50px;
                margin: 7px;
                border-radius: 4px;
                border-style: none;
                background-color: rgb(237, 237, 237);
                font-size: 18px;
                box-sizing: border-box;
            }

            .modalWindow_userEmail
            {
                width: 100%;
                padding: 10px;
                height: 50px;
                margin: 7px;
                border-radius: 4px;
                border-style: none;
                background-color: rgb(237, 237, 237);
                font-size: 18px;
                box-sizing: border-box;
            }

            .modalWindow_userPhone
            {
                width: 100%;
                padding: 10px;
                height: 50px;
                margin: 7px;
                border-radius: 4px;
                border-style: none;
                background-color: rgb(237, 237, 237);
                font-size: 18px;
                box-sizing: border-box;
            }

            .modalWindow_userComment
            {
                width: 100%;
                padding: 10px;
                height: 50px;
                margin: 7px;
                resize: vertical;
                height: auto;
                border-radius: 4px;
                border-style: none;
                background-color: rgb(237, 237, 237);
                font-size: 18px;
                box-sizing: border-box;
            }
            
            .modalWindow_attach
            {
                margin: 10px;
            }

            .g-recaptcha
            {
                
            }
            
            .modalWindow_accept
            {
                cursor: pointer;
                font-size: 18px;
                font-weight: medium;
                color: rgb(255,255,255);
                background: rgb(227,79,72);
                border-radius: 20px;
                border-style: none;
                padding: 0px 30px;
                height: 42px;
            }